.title-services {
    font-family: 'General Sans';
    font-weight: 600;
    text-align: center;
    font-size: 25px;
}

.custom-container-services {
    background-color: white;
    padding: 80px;
}

.custom-skill-col {
    min-width: 300px; 
    max-width: 100%;
  }

  .carousel-control-next, .carousel-control-prev {
    filter: invert(100%);
}

.carousel-indicators {
    margin: 0px;
    height: 0px;
}

.carousel-indicators [data-bs-target] {
    background-color: black ;
   }


@media (max-width: 768px) {
    .custom-prev-icon, .custom-next-icon {
      display: none;
    }
  }