@font-face {
    font-family: "General Sans Bold";
    src: url("../../assets/fonts/GeneralSans-Bold.ttf")format("truetype"),
    url("../../assets/fonts/GeneralSans-Bold.woff2")format("woff2"),
    url("../../assets/fonts/GeneralSans-Bold.woff")format("woff") ;
    font-style: bold;
  }



.custom-title-support-business {
    font-size: 35px;
    margin-bottom: 20px;
    font-family: 'Tiempos Headline';
    font-weight: 600;
}


.custom-p-support-business {
    font-family: 'General Sans Bold';
    font-size: 16px;
}

.custom-p-support-business span {
    font-family: 'General Sans';
    font-weight: normal;
    font-size: 15px;
}
